---
import ProjectsCard from "./ProjectsCard.astro";
---

<section
    id="projects-section"
    class="relative bg-stone-900 flex min-h-screen w-full flex-col items-center justify-center overflow-hidden p-10 xl:p-20"
>
    <div class="flex w-full h-full flex-col justify-center items-center">
        <div class="px-20 pt-10 h-full">
            <!-- Title -->
            <div class="flex flex-col border-red-800 border-l-8 pl-8">
                <h2 class="text-7xl font-extrabold text-red-800">Projects</h2>
                <p class="text-off-w pt-4 italic text-lg">
                    A collection of personal projects that I'm very proud of.
                </p>
            </div>

            <!-- Projects -->
            <div class="flex flex-col xl:flex-row gap-10 pt-20">
                <ProjectsCard
                    title="Project 1"
                    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptate."
                />
                <ProjectsCard
                    title="Project 1"
                    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptate."
                />
                <ProjectsCard
                    title="Project 1"
                    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptate."
                />
            </div>
        </div>
    </div>
</section>
