<section>
<div class="max-lg:text-center">
  <h1
    class="mb-10 text-[4rem] max-sm:text-[2.75rem] max-lg:text-[3rem] font-extrabold text-acc-yellow"
  >
  Hey, web wanderer!
  </h1>
  
  <h2 class="sm:mb-8 max-md:text-2xl text-5xl font-light text-off-w 2xl:text-7xl">
    I'm Mateus Mascarelo,
  </h2>

  <h2
    class="text-[4rem] max-sm:text-3xl max-md:text-4xl font-extrabold text-off-w transition-all duration-300 hover:drop-shadow-[0px_0px_25px_#f3e5d755] 2xl:text-7xl"
  >
    A Front-end Web Developer!
  </h2>
  <div
    class="mt-24 flex items-center justify-center text-center text-off-w"
  >
    <a
      href="/portfolio/#about-section"
      id="journey"
      class="ease flex cursor-pointer gap-2 text-xl font-semibold transition-all duration-300"
    >
      So, let's start this journey?<svg
        id="arrowSvg"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.15"
        stroke="currentColor"
        class="ease h-7 w-7 cursor-pointer text-acc-yellow transition-all duration-300"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
        ></path>
      </svg>
    </a>
  </div>
</div>
</section>