<section>
    <div class="max-lg:text-center">
        <h1
            class="mb-10 text-[4rem] max-sm:text-[2.75rem] max-lg:text-[3rem] font-extrabold text-acc-yellow"
        >
            Hey, web wanderer!
        </h1>

        <h2
            class="sm:mb-8 max-md:text-2xl text-5xl font-light text-off-w 2xl:text-7xl"
        >
            I'm Mateus Mascarelo,
        </h2>

        <h2
            class="text-[4rem] max-sm:text-3xl max-md:text-4xl font-extrabold text-off-w transition-all duration-300 hover:drop-shadow-[0px_0px_25px_#f3e5d755] 2xl:text-7xl"
        >
            A Front-end Web Developer!
        </h2>
        <div
            class="mt-24 flex items-center justify-center text-center text-off-w"
        >
            <a
                href="/portfolio/#about-section"
                id="journey"
                class="ease flex flex-col items-center cursor-pointer gap-2 text-2xl font-semibold transition-all duration-300 group"
            >
                Know more about me?
                
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.25" stroke="currentColor" class="size-8 group-hover:translate-y-1 transition-all duration-300 group-hover:stroke-acc-yellow-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
                </svg>
            </a>
        </div>
    </div>
</section>
