---
import ReactSvg from "../assets/react.svg";
import CssSvg from "../assets/css.svg";
import TSSvg from "../assets/typescript.svg";

import { Image } from "astro:assets";
import Navbar from "../components/navbar/Navbar.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kazyel | About me">
  <Navbar aboutActive={true} client:only="react" />
  <section>
    <div
      transition:animate="fade"
      class="grid mt-12 relative grid-cols-9 max-xl:flex max-xl:flex-col max-sm:w-full"
    >
      <!-- About Me -->
      <div
        class="col-span-3 self-start top-0 xl:pt-9 max-xl:mb-12 sticky max-xl:static flex justify-center items-center w-full gap-12 flex-col"
      >
        <div
          class="flex w-[324px] flex-col items-center gap-8 max-sm:w-[300px] md:max-xl:w-[500px]"
        >
          <div class="flex justify-center gap-3">
            <h2 class="text-2xl font-semibold text-acc-yellow">Yo, it's me!</h2>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-8 w-8 text-acc-yellow"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3"></path>
            </svg>
          </div>
          <Image
            src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            class="aspect-square rounded-[50%] border border-stone-700 object-cover p-2"
            width={328}
            height={328}
            alt="Placeholder"
          />
          <p class="text-off-w">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            ullam ad quam nisi, itaque corrupti vitae totam placeat, amet
            voluptatum consequatur repudiandae modi nihil asperiores sapiente,
            ab odio eos. Cum?
          </p>
        </div>
      </div>

      <!-- Experience -->
      <div
        class="col-span-3 max-w-[500px] xl:ml-9 pt-9 p-4 flex items-center justify-center flex-col"
      >
        <div
          class="relative border-l-4 border-stone-700 py-6 pl-6 text-justify text-off-w max-sm:w-[312px] max-sm:ml-4 max-sm:px-8 max-xl:text-left group"
        >
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
            itaque aliquid labore provident. Officia totam illum commodi, natus
            sit assumenda, vero facilis recusandae nemo enim nostrum delectus,
            placeat dolorum suscipit?
          </p>
          <p class="absolute -top-2 font-semibold text-off-w">2024</p>

          <div
            class="absolute -left-[10px] -top-1 h-4 w-4 rounded-full bg-stone-700 group-hover:bg-acc-yellow transition-all duration-200"
          >
          </div>
        </div>
        <div
          class="relative border-l-4 border-stone-700 py-6 pl-6 text-justify text-off-w max-sm:w-[312px] max-sm:ml-4 max-sm:px-8 max-xl:text-left group"
        >
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
            itaque aliquid labore provident. Officia totam illum commodi, natus
            sit assumenda, vero facilis recusandae nemo enim nostrum delectus,
            placeat dolorum suscipit?
          </p>

          <div
            class="absolute -left-[10px] -top-1 h-4 w-4 rounded-full bg-stone-700 group-hover:bg-acc-yellow transition-all duration-200"
          >
          </div>
          <p class="absolute -top-2 font-semibold text-off-w">2023</p>
        </div>
        <div
          class="relative border-l-4 border-stone-700 pl-6 pt-6 text-justify text-off-w max-sm:w-[312px] max-sm:ml-4 max-sm:px-8 max-xl:text-left group"
        >
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
            itaque aliquid labore provident. Officia totam illum commodi, natus
            sit assumenda, vero facilis recusandae nemo enim nostrum delectus,
            placeat dolorum suscipit?
          </p>

          <div
            class="absolute -left-[10px] -top-1 h-4 w-4 rounded-full bg-stone-700 group-hover:bg-acc-yellow transition-all duration-200"
          >
          </div>
          <p class="absolute -top-2 font-semibold text-off-w">2022</p>
        </div>
      </div>

      <!-- Skills -->
      <div
        class="col-span-3 self-start xl:pt-9 top-0 sticky max-xl:static flex flex-col w-full items-center gap-12 max-xl:my-20"
      >
        <p class="text-2xl font-semibold text-acc-yellow">Some skills</p>
        <div class="flex xl:flex-col max-xl:flex-row gap-6">
          <Image src={ReactSvg} width={82} height={82} alt="React Icon" />
          <Image src={CssSvg} width={82} height={82} alt="React Icon" />
          <Image src={TSSvg} width={82} height={82} alt="React Icon" />
        </div>

        <a href="/portfolio/skills" class="relative cursor-pointer text-off-w"
          ><span
            class="after:ease after:absolute after:bottom-[-2px] after:left-0 after:w-0 after:border-white after:transition-all after:duration-[250ms] hover:after:w-full hover:after:border-b"
            >More +</span
          >
        </a>
      </div>
    </div>
  </section>
</Layout>
