---
import ReactSvg from "../../public/react.svg";
import CssSvg from "../../public/css.svg";
import TSSvg from "../../public/typescript.svg";

import { Image } from "astro:assets";
import Navbar from "../components/navbar/Navbar.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kazyel | About me">
  <Navbar aboutActive={true} client:load />
  <section
    class="relative flex min-h-screen w-full flex-col items-center justify-center overflow-hidden text-center"
  >
    <div
      transition:animate="fade"
      class="mt-16 grid aspect-video w-[1368px] grid-cols-10 max-xl:flex max-xl:flex-col max-sm:w-full"
    >
      <div
        class="col-span-7 row-span-4 flex items-center justify-around gap-12 max-xl:flex-col"
      >
        <div class="flex w-[324px] flex-col items-center gap-8 max-sm:w-[300px] md:max-xl:w-[500px]">
          <div class="flex justify-center gap-3">
            <h2 class="text-xl font-semibold text-acc-yellow">Yo, it's me!</h2>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-7 w-7 text-acc-yellow"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3"></path>
            </svg>
          </div>
          <Image
            src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            class="aspect-square rounded-[50%] border border-stone-700 object-cover p-2"
            width={328}
            height={328}
            alt="Placeholder"
          />
          <p class="text-left text-off-w">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            ullam ad quam nisi, itaque corrupti vitae totam placeat, amet
            voluptatum consequatur repudiandae modi nihil asperiores sapiente,
            ab odio eos. Cum?
          </p>
        </div>

        <div>
          <div
            class="relative w-[372px] border-l-4 border-stone-700 py-6 pl-6 text-justify text-off-w max-sm:w-[312px] max-sm:ml-4 max-sm:px-8 max-xl:text-left group"
          >
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
              itaque aliquid labore provident. Officia totam illum commodi,
              natus sit assumenda, vero facilis recusandae nemo enim nostrum
              delectus, placeat dolorum suscipit?
            </p>
        
            <p class="absolute -top-2 font-semibold text-off-w">2024</p>
            
            <div
            class="absolute -left-[10px] -top-1 h-4 w-4 rounded-full bg-stone-700 group-hover:bg-acc-yellow transition-all duration-200"
          >
          </div>
          </div>
          <div
            class="relative w-[368px] border-l-4 border-stone-700 py-6 pl-6 text-justify text-off-w max-sm:w-[312px] max-sm:ml-4 max-sm:px-8 max-xl:text-left group"
          >
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
              itaque aliquid labore provident. Officia totam illum commodi,
              natus sit assumenda, vero facilis recusandae nemo enim nostrum
              delectus, placeat dolorum suscipit?
            </p>

            <div
              class="absolute -left-[10px] -top-1 h-4 w-4 rounded-full bg-stone-700 group-hover:bg-acc-yellow transition-all duration-200"
            >
            </div>
            <p class="absolute -top-2 font-semibold text-off-w">2023</p>
          </div>
          <div
            class="relative w-[368px] border-l-4 border-stone-700 pl-6 pt-6 text-justify text-off-w max-sm:w-[312px] max-sm:ml-4 max-sm:px-8 max-xl:text-left group"
          >
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
              itaque aliquid labore provident. Officia totam illum commodi,
              natus sit assumenda, vero facilis recusandae nemo enim nostrum
              delectus, placeat dolorum suscipit?
            </p>
            
            <div
              class="absolute -left-[10px] -top-1 h-4 w-4 rounded-full bg-stone-700 group-hover:bg-acc-yellow transition-all duration-200" 
            >
            </div>
            <p class="absolute -top-2 font-semibold text-off-w">2022</p>
          </div>
        </div>
      </div>
      <div
        class="col-span-2 row-span-4 flex flex-col items-center justify-center gap-12 max-xl:my-20"
      >
        <p class="text-xl font-semibold text-acc-yellow">Some skills</p>
        <div class="flex xl:flex-col max-xl:flex-row gap-6">
          <Image src={ReactSvg} width={64} height={64} alt="React Icon" />
          <Image src={CssSvg} width={64} height={64} alt="React Icon" />
          <Image src={TSSvg} width={64} height={64} alt="React Icon" />
        </div>
        
        <a href="/skills" class="relative cursor-pointer text-off-w"
          ><span
            class="after:ease after:absolute after:bottom-[-2px] after:left-0 after:w-0 after:border-white after:transition-all after:duration-[250ms] hover:after:w-full hover:after:border-b"
            >More +</span
          >
        </a>
      </div>
    </div>
  </section>
</Layout>