---
import Navbar from "../components/navbar/Navbar.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kazyel | Contact">
  <Navbar contactActive={true} client:load />
  <section
    class="relative flex min-h-screen w-full flex-col items-center justify-center overflow-hidden"
  >
  </section>
</Layout>
