---
// Components
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/navbar/Navbar.tsx";

// Images
import { Image } from "astro:assets";
import KanagawaWave from "@/assets/imgs/kanagawa.png";
import Pagoda from "@/assets/imgs/pagoda.png";

// Sections
import Landing from "@/components/landing/Landing.astro";
import About from "@/components/about/About.astro";
import Projects from "@/components/projects/Projects.tsx";
import Contact from "@/components/contact/Contact.astro";

// Supports weights 100-900
import '@fontsource-variable/montserrat';
---

<Layout title="Kazyel">
    <!-- Navbar -->
        <div id="navbar" class="max-lg:sticky backdrop-blur-md top-0 z-50">
            <Navbar client:only="react" />
        </div>

        <div
            class="relative max-lg:h-[calc(100dvh-4rem)] max-xl:px-10 flex lg:min-h-screen flex-col justify-center items-center"
        >
            <!-- Landing -->
            <Landing />
            <Image
                src={KanagawaWave}
                alt="Kanagawa Wave"
                class="absolute bottom-0 -z-10 w-full opacity-10 grayscale max-md:hidden"
                width={1920}
                height={1080}
                loading={"eager"}
            />
            <Image
                src={Pagoda}
                alt="Kanagawa Wave"
                class="absolute -bottom-52 -z-10 opacity-20 grayscale max-md:hidden w-[1920px] pagoda-animation"
                height={1920}
                width={1080}
                loading={"eager"}
            />
        </div>


    <!-- About Me -->
    <About />

    <!-- Projects -->
    <Projects client:only="react" />

    <!-- Contact -->
    <Contact />
</Layout>

<style scoped>
    @keyframes enter-pagoda {
        0% {
            transform: translateY(50px);
            opacity: 0.05;
        }

        100% {
            transform: translateY(0px);
            opacity: 0.20;
        }
    }
    
    .pagoda-animation {
        animation: enter-pagoda 1s;
        z-index: -20;
    }
</style>