---
// Components 
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/navbar/Navbar.tsx";

// Images
import { Image } from "astro:assets";
import KanagawaWave from "@/assets/kanagawa.png";

// Sections
import Landing from "@/components/landing/Landing.astro";
import About from "@/components/about/About.astro";
import Projects from "@/components/projects/Projects.astro";
import Contact from "@/components/contact/Contact.astro";
---

<Layout title="Kazyel">
  <!-- Navbar -->
  <div id="navbar" class="max-xl:sticky backdrop-blur-lg top-0 z-10">
    <Navbar client:only="react"/>
  </div>

  <div id="landing-section" class="relative max-xl:px-10 flex py-20 flex-col justify-center items-center">
    <!-- Landing -->
    <Landing />
    <Image
      src={KanagawaWave}
      alt="Kanagawa Wave"
      class="absolute bottom-0 -z-10 w-full opacity-5 grayscale max-md:hidden"
      quality={100}
    />
  </div>

  <!-- About Me -->
  <About />

  <!-- Projects -->
  <Projects />

  <!-- Contact -->
  <Contact />
</Layout>

<style scoped>
  .blend {
    mix-blend-mode: difference;
    backdrop-filter: blur(10px);
    backdrop-filter: opacity(0.5);
  }
</style>
