---
import Layout from "@/layouts/layout.astro";
import Navbar from "@/components/navbar/navbar";

import { Image } from "astro:assets";
import KanagawaWave from "@/assets/imgs/kanagawa.png";
import Pagoda from "@/assets/imgs/pagoda.png";

import { LandingSection } from "@/components/landing/landing-section";
import { AboutSection } from "@/components/about/about";
import Projects from "@/components/projects/projects.astro";
import Contact from "@/components/contact/contact.astro";

import "@fontsource-variable/montserrat";
import AnimatedGradientBackground from "@/components/ui/animated-gradient-background";

const STATIC_COLOR = "#f3e5d7";
const DARK_COLOR = "#00000033";
---

<Layout title="Kazyel">
  <!-- Navbar -->
  <Navbar client:load />

  <div
    class="xl:snap-mandatory xl:snap-y xl:overflow-y-scroll xl:h-screen xl:scroll-smooth bg-darkest"
  >
    <!-- Landing -->
    <div
      class="snap-start relative max-lg:h-[calc(100dvh-4rem)] max-xl:px-10 lg:min-h-screen flex flex-col justify-center items-center bg-darkest"
    >
      <AnimatedGradientBackground
        client:load
        gradientStops={[45, 75, 100]}
        gradientColors={[DARK_COLOR, STATIC_COLOR + "44", STATIC_COLOR]}
      />

      <Image
        src={KanagawaWave}
        alt="Kanagawa Wave"
        class="absolute bottom-0 w-full opacity-15 sepia max-md:hidden pointer-events-none kanagawa-animation"
        width={1920}
        height={1080}
        loading="eager"
      />
      <Image
        src={Pagoda}
        alt="Pagoda"
        class="absolute -bottom-52 opacity-25 max-md:hidden w-[1920px] pagoda-animation pointer-events-none"
        height={1920}
        width={1080}
        loading="eager"
      />
      <LandingSection client:only="react" />
    </div>

    <!-- About Me -->
    <AboutSection client:idle />

    <!-- Projects -->
    <Projects />

    <!-- Contact -->
    <Contact />
  </div>
</Layout>
