@import "tailwindcss";

@layer base {
  :root {
    --navbar-height: 0px;
    --radius: 0.625rem;
    --montserrat-variable: "Montserrat Variable", sans-serif;
    --exo-2: "Exo 2 Variable", sans-serif;
    --rubik: "Rubik Variable", sans-serif;
    --lexend: "Lexend Variable", sans-serif;
    --merriweather: "Unbounded Variable", sans-serif;
  }
}

@theme inline {
  --color-off-w: #f3e5d7;
  --color-acc-yellow: #d58430;
  --color-acc-yellow-2: #f09e46;
  --color-darkest: #1f1a15;
  --font-mont: var(--montserrat-variable);
  --font-exo: var(--exo-2);
  --font-rubik: var(--rubik);
  --font-yamato: var(--yamato);
  --font-lexend: var(--lexend);
  --font-merriweather: var(--merriweather);
  --font-jp: "Noto Sans JP, sans-serif";
  --breakpoint-3xl: 1921px;
  --breakpoint-xs: 420px;
  --height-section-height: calc(100dvh + var(--navbar-height));

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  --section-height: calc(100dvh + var(--navbar-height));
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  --animate-shine: shine var(--duration) infinite linear;

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

html {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

@keyframes enter-pagoda {
  0% {
    opacity: 0.05;
  }

  100% {
    opacity: 0.35;
  }
}

.pagoda-animation {
  animation: enter-pagoda 1s ease-in-out;
}

@keyframes enter-kanagawa {
  0% {
    opacity: 0.05;
  }

  100% {
    opacity: 0.25;
  }
}

.kanagawa-animation {
  animation: enter-kanagawa 1s ease-in-out;
}
