@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    /* Shadcn configs */
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* My colors */
    --navbar-height: 56px;
    --radius: 0.625rem;
    --unbounded: "Unbounded Variable", sans-serif;
  }

  @theme inline {
    /* My configs */
    --color-off-w: #f3e5d7;
    --color-acc-yellow: #d58430;
    --color-acc-yellow-2: #f09e46;
    --color-darkest: #1f1a15;
    --font-mont: var(--montserrat-variable);
    --font-exo: var(--exo-2);
    --font-rubik: var(--rubik);
    --font-yamato: var(--yamato);
    --font-lexend: var(--lexend);
    --font-unbounded: var(--unbounded);
    --font-jp: "Noto Sans JP, sans-serif";
    --breakpoint-3xl: 1921px;
    --breakpoint-xs: 30rem;
    --height-navbar-height: var(--navbar-height);

    @keyframes marquee {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - var(--gap)));
      }
    }
    @keyframes marquee-vertical {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(calc(-100% - var(--gap)));
      }
    }

    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --animate-aurora: aurora 8s ease-in-out infinite alternate;

    @keyframes aurora {
      0% {
        background-position: 0% 50%;
        transform: rotate(-5deg) scale(0.9);
      }
      25% {
        background-position: 50% 100%;
        transform: rotate(5deg) scale(1.1);
      }
      50% {
        background-position: 100% 50%;
        transform: rotate(-3deg) scale(0.95);
      }
      75% {
        background-position: 50% 0%;
        transform: rotate(3deg) scale(1.05);
      }
      100% {
        background-position: 0% 50%;
        transform: rotate(-5deg) scale(0.9);
      }
    }

    --animate-shine: shine var(--duration) infinite linear;

    @keyframes shine {
      0% {
        background-position: 0% 0%;
      }
      50% {
        background-position: 100% 100%;
      }
      to {
        background-position: 0% 0%;
      }
    }

    --animate-background-position-spin: background-position-spin 3000ms infinite alternate;
    @keyframes background-position-spin {
      0% {
        backgroundposition: top center;
      }
      100% {
        backgroundposition: bottom center;
      }
    }
    --animate-grid: grid 15s linear infinite;
    @keyframes grid {
      0% {
        transform: translateY(-50%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  @keyframes enter-pagoda {
    0% {
      opacity: 0.05;
    }

    100% {
      opacity: 0.35;
    }
  }

  .pagoda-animation {
    animation: enter-pagoda 1s ease-in-out;
  }

  @keyframes enter-kanagawa {
    0% {
      opacity: 0.05;
    }

    100% {
      opacity: 0.25;
    }
  }

  .kanagawa-animation {
    animation: enter-kanagawa 1s ease-in-out;
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  .hero-shadow-1 {
    text-shadow:
      -1px 3px 0 #5a3104,
      -2px 2px 0 #5a3104,
      -2px 1px 0 #5a3104,
      -2px 2px 0 #5a3104,
      -3px 2px 0 #5a3104,
      -4px 4px 0 #5a3104;
  }

  .hero-shadow-2 {
    text-shadow:
      -1px 3px 0 #9e110f,
      -2px 2px 0 #9e110f,
      -3px 1px 0 #9e110f,
      -4px 1px 0 #9e110f,
      -4px 3px 0 #9e110f;
  }

  .hero-shadow-3 {
    text-shadow:
      0px -2px 0 #737373,
      -1px 4px 0 #737373,
      -2px 0px 0 #737373,
      -2px 6px 0 #737373;
  }
}
