<section
  id="contact-section"
  class="relative flex min-h-screen w-full flex-col items-center justify-center overflow-hidden section snap-start snap-always bg-black/75"
>
  <h2 class="text-3xl font-bold text-acc-yellow-2">Contact</h2>
</section>
